.container {
  border-radius: 7px;
  background-color: #ffc719;
  /* display: flex; */
  /* align-items: center;
  position: relative; */
  box-shadow: 0 .2em brown;
  padding: .8vw;
}

/* .container:hover {
  box-shadow: none;
	position: relative;
	top: .2em;
} */

.button-container {
  position: absolute;
  bottom: .5rem;
}

.button {
  background-color: #d99058;
  font-family: 'Press Start 2p';
  display: inline-block;
  font-weight: bold;
  font-size: .45vw;
  text-align: center;
  padding: .4rem .2rem .4rem .4rem ;
  /* text-shadow: -1px -1px brown, 1px 1px white; */
  /* color: rgb(243, 223, 223); */
  color: brown;
  border-radius: 7px;
  box-shadow: 0 .2em brown; 
  cursor: pointer;
  min-width: 6rem;
  max-height: 1.5rem;
}

.button:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.vs-container {
  background: url('../assets/vs.png') no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 2rem;
  }
  50% {
    bottom: 2.5rem;
  }
}

.text {
  font-family: 'Press Start 2p';
  color: brown;
  margin-bottom: .3rem;
  width: 100%;
  font-size: .45vw;
  line-height: .7vw;
}

.retro-input {
  outline: none;
  padding: 7px 0 7px 14px;
  border: 0;
  box-shadow: 0 .2em brown;
  border-radius: 7px;
  color: brown;
  font-family: 'Press Start 2p';
  font-size: .45vw;
  width: 90%;
  margin-left: 1vw;
}
.retro-input:focus {
  box-shadow: none;
}

.blinking-text {
  font-family: 'Press Start 2p';
  color: brown;
  font-size: .45vw;
  animation: blinker 0.5s linear infinite;
  line-height: .7vw;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.shining-text {
  font-family: 'Press Start 2p';
  color: brown;
  font-size: .45vw;
  animation: shine 4s linear infinite;
  line-height: .7vw;
}

@keyframes shine {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

.shaking-text {
  font-family: 'Press Start 2p';
  color: brown;
  width: 100%;
  font-size: .45vw;
  animation: shake 0.8s infinite linear;
  line-height: .7vw;
}

@keyframes shake {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}