.container {
  border-radius: 7px;
  background-color: #ffc719;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 .2em brown;
  padding: 1rem;
  font-size: .6rem;
}

/* .container:hover {
  box-shadow: none;
	position: relative;
	top: .2em;
} */

.button-container {
  position: absolute;
  bottom: .5rem;
}

.button {
  background-color: #d99058;
  font-family: 'Press Start 2p';
  display: inline-block;
  margin:5px;
  font-weight: bold;
  font-size: .5rem;
  text-align: center;
  padding: .4rem .2rem .4rem .4rem ;
  /* text-shadow: -1px -1px brown, 1px 1px white; */
  /* color: rgb(243, 223, 223); */
  color: brown;
  border-radius: 7px;
  box-shadow: 0 .2em brown; 
  cursor: pointer;
  width: 5rem;
}

.button:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.vs-container {
  background: url('../assets/vs.png') no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10;
}

.doge-pict-container {
  background: url('../assets/swole-doge.png') no-repeat;
  background-size: 100% 100%;
  height: 90%;
  width: 70%;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  animation: MoveUpDown .5s linear infinite;
}

.shiba-pict-container {
  background: url('../assets/buffed-shiba.png') no-repeat;
  background-size: 100% 100%;
  height: 80%;
  width: 80%;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  animation: MoveUpDown .5s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 2rem;
  }
  50% {
    bottom: 2.5rem;
  }
}

.text {
  font-family: 'Press Start 2p';
  color: brown;
  margin-bottom: .3rem;
  width: 100%;
}

.retro-input {
  outline: none;
  padding: 7px 0 7px 14px;
  border: 0;
  box-shadow: 0 .2em brown;
  border-radius: 7px;
  color: brown;
  font-family: 'Press Start 2p';
  font-size: .5rem;
  width: 100%;
}
.retro-input:focus {
  box-shadow: none;

}